body{
    text-align: center;
    background-color: #d1c090;
}
.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.red{
    background-color: #910710;
}
.green{
    background-color: #14400f;
}
.blue{
    background-color: #092c96;
}
.yellow{
    background-color: #c9d126;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: greenyellow;
}